@import './../../../assets/styles/llist-and-filter-games.scss';

@media screen and (max-width: 800px) {
  .title {
    margin-bottom: 5px !important;
    font-size: 45px !important;
  }
  .input-square {
    .example-form-field {
      min-width: 200px !important;
      max-width: 200px !important;
      mat-label {
        font-size: 18px !important;
      }
      button {
        font-size: 18px !important;
        fa-icon {
          font-size: 18px !important;
        }
      }
      input {
        font-size: 16px !important;
      }
    }
  }
  .listed-games {
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    .name {
      font-size: 18px !important;
    }
    .delete {
      fa-icon {
        font-size: 18px !important;
      }
    }
  }
  .filtered-games {
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    .name {
      font-size: 18px !important;
    }
    .delete {
      fa-icon {
        font-size: 18px !important;
      }
    }
  }
}

:host {
  width: 100%;
  height: 100%;
  background-color: rgb(12, 36, 80);
  color: white;
}

.load-game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 70px;
    text-decoration: underline;
  }
  .input-square {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100%;
    .example-form-field {
      width: 100%;
      min-width: 350px;
      max-width: 350px;
      mat-label {
        display: flex;
        justify-content: center;
        font-size: 25px;
        color: white;
      }
      input {
        font-size: 20px;
        color: white;
        text-decoration-color: white;
      }
      button {
        color: white;
        background-color: white;
        font-size: 25px;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        fa-icon {
          color: rgb(12, 36, 80);
          font-size: 25px;
        }
      }
    }
  }
  .saved-games {
    display: flex;
    flex-direction: column;
    height: 100%;
    .listed-game-flex {
      display: flex;
      height: 100%;
      .listed-games {
        @include listAndFilterGames;
      }
    }
    .filtered-games {
      @include listAndFilterGames;
    }
  }
}
