<div class="load-game-container">
  <div class="title">Saved games</div>
  <div class="input-square">
    <mat-form-field class="example-form-field">
      <mat-label>Search by name</mat-label>
      <input matInput type="text" [(ngModel)]="filterInput" [disabled]="isSearchClicked" autocomplete="off" maxlength="50" />
      <button
        mat-button
        *ngIf="filterInput"
        [disabled]="isSearchClicked"
        [matTooltip]="'Click to search'"
        matTooltipPosition="above"
        matSuffix
        mat-icon-button
        aria-label="Search"
        (click)="searchGame()"
      >
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button
        mat-button
        *ngIf="filterInput"
        [matTooltip]="'Click to reset'"
        [disabled]="!isSearchClicked"
        matTooltipPosition="above"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resetInputField()"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="saved-games">
    <div class="listed-game-flex" *ngIf="!isFiltered">
      <div class="listed-games">
        <div class="boards" *ngFor="let board of listedSavedGames; let idx = index">
          <div class="squares" *ngFor="let squares of board.board">
            <button disabled *ngIf="!squares">{{ squares }}</button>
            <button disabled *ngIf="squares === 'X'"><fa-icon id="x" [icon]="faTimes"></fa-icon></button>
            <button disabled *ngIf="squares === 'O'"><fa-icon id="o" [icon]="faCircle"></fa-icon></button>
          </div>
          <div class="name-and-delete">
            <a routerLink="/playgame">
              <button
                mat-raised-button
                color="primary"
                [matTooltip]="'Click to load'"
                matTooltipPosition="above"
                (click)="shareDatas(board.id, board.name)"
              >
                <span class="name">{{ board.name }}</span>
              </button>
            </a>
            <button class="delete" mat-raised-button color="primary" (click)="openDeleteGameModal(board.id)">
              <fa-icon [icon]="faTrash" [matTooltip]="'Click to delete'" matTooltipPosition="above"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="filtered-games" *ngIf="isFiltered">
      <div class="boards" *ngFor="let board of filteredSavedGame; let idx = index">
        <div class="squares" *ngFor="let squares of board.board">
          <button disabled *ngIf="!squares">{{ squares }}</button>
          <button disabled *ngIf="squares === 'X'"><fa-icon id="x" [icon]="faTimes"></fa-icon></button>
          <button disabled *ngIf="squares === 'O'"><fa-icon id="o" [icon]="faCircle"></fa-icon></button>
        </div>
        <div class="name-and-delete">
          <a routerLink="/playgame">
            <button
              mat-raised-button
              color="primary"
              [matTooltip]="'Click to load'"
              matTooltipPosition="above"
              (click)="shareDatas(board.id, board.name)"
            >
              <span class="name">{{ board.name }}</span>
            </button>
          </a>
          <button class="delete" mat-raised-button color="primary" (click)="openDeleteGameModal(board.id)">
            <fa-icon [icon]="faTrash" [matTooltip]="'Click to delete'" matTooltipPosition="above"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
