<div class="game-rules-container">
  <div class="title">
    <span class="title-text">Rules of Tic-Tac-Toe</span>
  </div>
  <div class="rules-list">
    <div>
      <span class="list-item">1. The game is played on a grid that's 3 squares by 3 squares.</span>
      <span class="list-item">2. You are X, your friend is O. Players take turns putting their marks in empty squares.</span>
      <span class="list-item">3. The first player to get 3 of his/her marks in a row ( up, down, across or diagonally) is the winner.</span>
      <span class="list-item"
        >4. When all 9 squares are full, the game is over. If no player has 3 marks in a row, the game ends in a tie.</span
      >
    </div>
  </div>
</div>
