/* You can add global styles to this file, and also import other style files */

body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.mat-menu-content{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    a{
        text-decoration: none;
        button{
            color: rgb(12, 36, 80);
            font-size: 20px;
            font-family: fantasy;
        }
        button:hover{
            background-color: rgb(12, 36, 80)!important;
            color: white;
        }
    }
}